:root {
    --transform-fast: 0.3s ease;
    
    --our-sort-of-blue: #007bff;
    
    --black-text: #000000;
    --white-text: #ffffff;
    
    --my-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.homeContainer {
    padding-top: 3rem;
    
    
}

.title {
    color: var(--our-sort-of-blue);
    transition: all var(--transform-fast);
    font-family: var(--my-font);
}

.smallP {
    font-size: large;
    font-family: var(--my-font);
}

.subTitle {
    text-align: start;
    color: var(--our-sort-of-blue);
    font-family: var(--my-font);
}

.cardDiv {
    padding-top: 2.4rem;
}